/*------------------------------------------------------------------
[Master Stylesheet]
Project:	    Matarial CV/Resume Template 
Version:	    2.0
Last change:	07/09/15 
Primary use:	CV/Resume, Portfolio, Perosnal Website 
-------------------------------------------------------------------*/
/*
|----------------------------------------------------------------------------
| CSS INDEX
|----------------------------------------------------------------------------
    1. STYLESHEET
        1-1. COMPONENTS
        1-2. TYPOGRAPHY
        1.3. BODY
    2. HEADER TOP
    3. HEADER BOTTOM
        3.1. NAV
    4. ABOUT
    5. SKILLS
    6. WORK EXPERIENCE
    7. PORTFOLIO
        7.1. MARKET PLACE
    8. EDUCATION
    9. BLOG
        9.1. BLOG FULL POST
    10. PRICING TABLE
    11. CLIENTS
        11.1.  CLIENTS LOGO
    12. CONTACT
    13. INTEREST
*/
/*
|----------------------------------------------------------------------------
| COMPONENTS
|----------------------------------------------------------------------------*/
/* wow animation */
.a1 {
    visibility: visible;
    -webkit-animation-delay: 0.1s;
    -moz-animation-delay: 0.1s;
    animation-delay: 0.1s;
}

.a2 {
    visibility: visible;
    -webkit-animation-delay: 0.2s;
    -moz-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

.a3 {
    visibility: visible;
    -webkit-animation-delay: 0.3s;
    -moz-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.a4 {
    visibility: visible;
    -webkit-animation-delay: 0.4s;
    -moz-animation-delay: 0.4s;
    animation-delay: 0.4s;
}

.a5 {
    visibility: visible;
    animation-delay: 0.5s;
    -webkit-animation-delay: 0.5s;
    animation-name: fadeIn;
    -webkit-animation-name: fadeIn;
}

/*
|----------------------------------------------------------------------------
| FORMATING
|----------------------------------------------------------------------------
*/
.row {
    margin-bottom: 0px;
}

.btn {
    display: inline-block;
    margin: 0.3em;
    padding: 5px 30px;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 3px;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    border: none;
    font-size: 15px;
    height: auto;
    width: 200px;
    text-align: center;
}

.btn:hover {
    box-shadow: 0 5px 13px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    -moz-box-shodew: 0 5px 13px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    -webkit-box-shodow: 0 5px 13px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    -o-box-shodow: 0 5px 13px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

* {
    font-family: 'Roboto', sans-serif;
}

body {
    background: #e3e3e3;
    font-family: 'Roboto', sans-serif;
}

.fix {
    overflow: hidden;
}

.section-title {
    text-align: center;
    padding-bottom: 40px;
    padding-top: 40px;
}

.section-title h2 {
    font-size: 32px;
    line-height: 42px;
    opacity: 0.7;
    font-weight: 500;
    margin: 0px;
    padding-top: 20px;
}

.section-title h2 i {
    margin-right: 30px;
}

.co-centered {
    float: none;
    margin: 0 auto;
}

.thumbnail {
    padding: 0px;
    background-color: #fff;
}

.section {
    text-align: left;
}

.section .section-wrapper {
    background-color: #fff;
    overflow: hidden;
    margin-bottom: 24px;
}

.current {
    position: relative;
}

.current a {
    position: relative;
    outline: none;
    color: #fff !important;
    opacity: inherit;
}

.current:before {
    position: absolute;
    margin: auto;
    z-index: 1;
    content: "";
    width: 80%;
    height: 2px;
    background: #fff;
    bottom: 0px;
    left: 12.5%;
}

/*
|----------------------------------------------------------------------------
| TYPOGRAPHY
|----------------------------------------------------------------------------
*/
p {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 24px;
}

h1 {
    font-size: 40px;
    line-height: 70px;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/*
|----------------------------------------------------------------------------
| HEADER TOP
|----------------------------------------------------------------------------
*/
#header-top {
    min-height: 100px;
}

#header-top .top-contact {
    margin: 20px;
    color: #000;
    opacity: 0.5;
}

#header-top .top-contact span {
    float: right;
    text-align: left;
    margin-left: 40px;
    font-size: 16px;
    line-height: 27px;
    font-weight: 500;
}

#header-top .top-contact span .fa {
    margin-right: 5px;
}

#header-top .top-contact span a {
    color: #000;
}

/*
|----------------------------------------------------------------------------
| HEADER BOTTOM
|----------------------------------------------------------------------------
*/
#header-bottom {
    background-color: #2196f3;
    padding-top: 20px;
    z-index: 9999;
}

#header-bottom .row {
    margin-bottom: 0px;
}

nav {
    background-color: #2196f3;
    box-shadow: none !important;
}

nav .side-nav li .active {
    opacity: inherit;
    transition: 0.5s ease all;
}

nav .hide-on-med-and-down li {
    background-color: #2196f3;
    position: relative;
    left: 200px;
}

nav .hide-on-med-and-down li a {

    padding: 0px 10px;
    margin: 0px;
    text-transform: uppercase;
    opacity: 0.7;
}

nav .hide-on-med-and-down li a:hover {

    color: #fff;
    opacity: inherit;
    transition: 0.2s ease-in;
    background-color: inherit;
}


nav .hide-on-med-and-down li:hover {
    background-color: inherit;
    position: relative;
}

nav .hide-on-med-and-down li:hover:before {
    position: absolute;
    margin: auto;
    z-index: 1;
    content: "";
    width: 80%;
    height: 2px;
    background: #fff;
    bottom: 0px;
    left: 12.5%;
}

#sidenav-overlay {
    z-index: 99;
}

nav .button-collapse i {
    margin-top: 10px;
}

.side-nav li:hover,
.side-nav li.active {
    background-color: inherit;
    color: #444;
}

#sticky-nav {
    background-color: #2196f3;
    position: fixed;
    z-index: 999;
    top: 0px;
    width: 100%;

}

/*
|----------------------------------------------------------------------------
| ABOUT
|----------------------------------------------------------------------------
*/
#about {
    padding-top: 200px;
    margin-bottom: 10px;
    text-align: center;
}

#about .container .intro {
    background: #fff;
    padding: 40px 40px 80px 30px;
}

#about .profile-pic {
    width: 150px;
    height: 150px;
    display: inline-block;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    margin-top: -100px;
}

#about .profile-pic img {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    height: 190px;
    width: 160px;
    vertical-align: middle;
    margin-top: -30px;
}

#about .intro-content {
    text-align: center;
    margin: 0 auto;
    float: none;
}

#about .intro-content h2 {
    font-weight: bold;
    margin: 0px;
    font-size: 35px;
    line-height: 52px;
    opacity: 0.7;
}

#about .intro-content span {
    font-size: 18px;
    line-height: 34px;
    color: #8a8a8b;
    margin-bottom: 25px;
}

#about .intro-content p {
    font-size: 15px;
    line-height: 27px;
    opacity: 0.7;
    padding: 0 90px;
    margin-bottom: 40px;
}

#about .intro-content .btn {
    border-color: inherit;
    text-transform: uppercase;
    margin: 10px;
    padding: 5px 30px;
}

#about .intro-content .btn a {
    color: #fff;
}

#about .intro-content .btn-info {
    background-color: #00a9ff;
    border-color: inherit;
}

#about .intro-content .btn-success {
    background-color: #38de8a;
    border-color: inherit;
}

/*
|----------------------------------------------------------------------------
| SKILLS
|----------------------------------------------------------------------------
*/
#skills .skill-line {
    background: #2196f3;
    color: #fff;
    padding: 40px 30px;
}

#skills .skill-line .skill-icon {
    text-align: center;
    font-size: 30px;
    padding: 10px;
    line-height: 50px;
    margin-top: 20px;
}

#skills .skill-line .skill-bar {
    padding: 10px;
}

#skills .skill-line .skill-bar h3 {
    margin-bottom: 30px;
    font-size: 24px;
    line-height: 32px;
}

#skills .skill-line .skill-bar span {
    margin-bottom: 10px;
}

#skills .skill-line .skill-bar .progress {
    background-color: #4783c2;
    height: 3px;
    overflow: visible;
    margin-bottom: 30px;
    margin-top: 10px;
}

#skills .skill-line .skill-bar .determinate {
    background-color: #fff;
    position: relative;
    height: 3px;
}

#skills .skill-line .skill-bar .determinate .fa {
    font-size: 16px;
    position: absolute;
    margin-top: -7px;
    right: 0px;
    margin-left: 50%;
}

/*
|----------------------------------------------------------------------------
| WORK EXPERIENCE
|----------------------------------------------------------------------------
*/
.cd-timeline-img {
    background-color: #2196f3;
}

.cd-timeline-content {
    padding: 60px 40px !important;
    border-radius: 2px;
}

.cd-timeline-content a {
    color: inherit;
}

.cd-timeline-content h2 {
    font-size: 22px;
    line-height: 40px;
    font-weight: bold;
    opacity: 0.7;
    color: inherit;
    margin: 0px;
}

.cd-timeline-content span {
    color: #2196f3;
    font-size: 16px;
    line-height: 34px;
}

.cd-timeline-content p {
    margin: 0;
    font-size: 15px;
    line-height: 27px;
    opacity: 0.7;
}

.cd-timeline-img {
    margin-left: -8px;
}

#portfolio {
    position: relative;
}

#portfolio .section-title {
    text-align: center;
}

/* TIMELINE
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline {
    white-space: nowrap;
    overflow-x: hidden;
}

.timeline ol {
    font-size: 0;
    width: 100vw;
    padding: 250px 0;
    transition: all 1s;
    background-color: cornflowerblue;
}

.timeline ol li {
    position: relative;
    display: inline-block;
    list-style-type: none;
    width: 160px;
    height: 3px;
    background: #fff;
}

.timeline ol li:last-child {
    width: 280px;
}

.timeline ol li:not(:last-child)::after {
    content: '';
    position: absolute;
    top: 50%;
    left: calc(100% + -80px);
    bottom: 0;
    width: 12px;
    height: 12px;
    transform: translateY(-50%);
    border-radius: 50%;
    background: #F45B69;
}

.timeline ol li div {
    position: absolute;
    left: calc(100% + -70px);
    width: 280px;
    padding: 15px;
    font-size: 1rem;
    white-space: normal;
    color: black;
    background: white;
}

.timeline ol li div::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
}

.timeline ol li:nth-child(odd) div {
    top: -16px;
    transform: translateY(-100%);
}

.timeline ol li:nth-child(odd) div::before {
    top: 100%;
    border-width: 8px 8px 0 0;
    border-color: white transparent transparent transparent;
}

.timeline ol li:nth-child(even) div {
    top: calc(100% + 16px);
}

.timeline ol li:nth-child(even) div::before {
    top: -8px;
    border-width: 8px 0 0 8px;
    border-color: transparent transparent transparent white;
}

.timeline time {
    display: block;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 8px;
}

/*
|----------------------------------------------------------------------------
| Personal Info
|----------------------------------------------------------------------------
*/
#personal .skill-line {
    background: #2196f3;
    color: #fff;
    padding: 40px 30px;
}

#personal .skill-line .skill-icon {
    text-align: center;
    font-size: 30px;
    padding: 10px;
    line-height: 50px;
    margin-top: 20px;
}

#personal .skill-line .skill-bar {
    padding: 10px;
}

#personal .skill-line .skill-bar ul li {
    padding-top: 10px;
    padding-bottom: 10px;
}
#personal .skill-line .skill-bar ul li span{
    padding-left: 10px;
}


#personal .skill-line .skill-bar h3 {
    margin-bottom: 30px;
    font-size: 24px;
    line-height: 32px;
}

#personal .skill-line .skill-bar span {
    margin-bottom: 10px;
}

#personal .skill-line .skill-bar .progress {
    background-color: #000;
    height: 3px;
    overflow: visible;
    margin-bottom: 30px;
    margin-top: 10px;
}

#personal .skill-line .skill-bar .determinate {
    background-color: #fff;
    position: relative;
    height: 3px;
}

#personal .skill-line .skill-bar .determinate .fa {
    font-size: 16px;
    position: absolute;
    margin-top: -7px;
    right: 0px;
    margin-left: 50%;
}

/*
|----------------------------------------------------------------------------
| CONTATCT FORM
|----------------------------------------------------------------------------
*/

.contact-form {
    background-color: #fff;
}

#contactForm {
    padding: 40px;
    margin: 0 auto;
    text-align: center;
}

#contactForm .btn {
    height: 45px;
    padding: 2px 50px;
    text-align: center;
    background-color: #38de8a !important;
    width: 300px;
    color: #fff !important;
}

#contactForm .btn:hover {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -moz-box-shodew: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -webkit-box-shodow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -o-box-shodow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.contact-me {
    background-color: #fff;
}

#contact-me {
    padding: 40px;
    margin: 0 auto;
    text-align: center;
}

#contact-me .btn {
    padding: 7px 50px;
    text-align: center;
    background-color: #38de8a !important;
    width: 300px;
    color: #fff !important;
}

#contact-me .btn:hover {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -moz-box-shodew: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -webkit-box-shodow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -o-box-shodow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.dropdown-content li {
    background-color: inherit;
}

.dropdown-content li .active {
    background-color: inherit;
}

.dropdown-content li span {
    color: #8a8a8b;
}

.dropdown-content li:hover {
    background-color: inherit;
    color: #2196f3;
}

.select-wrapper input.select-dropdown {
    color: #8a8a8b;
}

.select-wrapper i {
    position: absolute;
    top: 10px;
    right: 0px;
}

textarea.materialize-textarea {
    margin-bottom: 30px;
}

input[type=text]:focus:not([readonly]),
input[type=password]:focus:not([readonly]),
input[type=email]:focus:not([readonly]),
input[type=url]:focus:not([readonly]),
input[type=time]:focus:not([readonly]),
input[type=date]:focus:not([readonly]),
input[type=datetime-local]:focus:not([readonly]),
input[type=tel]:focus:not([readonly]),
input[type=number]:focus:not([readonly]),
input[type=search]:focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #2196f3;
}

input[type=text]:focus:not([readonly]) + label,
input[type=password]:focus:not([readonly]) + label,
input[type=email]:focus:not([readonly]) + label,
input[type=url]:focus:not([readonly]) + label,
input[type=time]:focus:not([readonly]) + label,
input[type=date]:focus:not([readonly]) + label,
input[type=datetime-local]:focus:not([readonly]) + label,
input[type=tel]:focus:not([readonly]) + label,
input[type=number]:focus:not([readonly]) + label,
input[type=search]:focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label {
    color: #2196f3;
}

input[type=text]:focus:not([readonly]),
input[type=password]:focus:not([readonly]),
input[type=email]:focus:not([readonly]),
input[type=url]:focus:not([readonly]),
input[type=time]:focus:not([readonly]),
input[type=date]:focus:not([readonly]),
input[type=datetime-local]:focus:not([readonly]),
input[type=tel]:focus:not([readonly]),
input[type=number]:focus:not([readonly]),
input[type=search]:focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
    box-shadow: inherit;
}

.waves-me:focus {
    background-color: #2196f3;
    color: #fff;
}

.btn {
    margin-left: 10px;
    padding: 0px 30px;
    background-color: #2196f3;
}

.btn:hover,
.btn:focus {
    background-color: #2196f3;
}

.email-success,
.email-failed {
    display: none;
    text-align: left !important;
    margin: 0 0 0 0 !important;
}

#msgSubmit {
    font-size: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
}

.text-danger {
    color: red;
}

.text-success {
    color: #5da4d9;
}

.disabled {
    background-color: #5da4d9;
    color: #fff;
    cursor: default;
}

.btn.disabled:focus {
    background-color: #2196f3;
    color: #fff;
    cursor: default;
}

.btn.disabled:hover {
    background-color: #2196f3;
    color: #fff;
    cursor: default;
}

/*
|----------------------------------------------------------------------------
| INTERESTS
|----------------------------------------------------------------------------
*/
.interests ul {
    padding-left: 0px;
    background-color: #fff;
    overflow: hidden;
    padding: 30px 0px;
}

.interests ul li {
    list-style-type: none;
    display: inline;
    text-align: center;
    color: #2196f3;
    font-size: 40px;
    line-height: 57px;
}

.works {
    padding-bottom: 100px;
    background: #FFFFFF;
    min-height: 800px;
}

/* IMAGE GRID */
.cbp-rfgrid {
    margin: auto;
    padding: 0;
    list-style: none;
    position: relative;
    width: 100%;
}

.cbp-rfgrid li {
    position: relative;
    float: left;
    overflow: hidden;
    width: 25%;
    /* Fallback */
    width: -webkit-calc(25%);
    width: calc(25%);
    -webkit-transition: 0.4s all linear;
    transition: 0.4s all linear;
}

.cbp-rfgrid li a,
.cbp-rfgrid li a img {
    display: block;
    max-width: 100%;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    -webkit-transition-duration: 250ms;
    transition-duration: 250ms;
    cursor: pointer;
    -webkit-transition: 0.4s all linear;
    transition: 0.4s all linear;
}

.cbp-rfgrid li a:hover img {
    -webkit-transform: scale(1.05, 1.07);
    -ms-transform: scale(1.05, 1.07);
    transform: scale(1.05, 1.07);
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    -webkit-transition-duration: 250ms;
    transition-duration: 250ms;
}

/* Flexbox is used for centering the heading */
.cbp-rfgrid li a .project-info {
    position: absolute;
    left: 10px;
    top: 10px;
    right: 10px;
    bottom: 10px;
    background: rgba(0, 0, 0, 0.5);
    padding-top: 25%;
    text-align: center;
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transition: all ease .25s;
    transition: all ease .25s;
}

.cbp-rfgrid li a .project-info .project-details {
    position: relative;
    top: -29px;
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transition: all ease .25s;
    transition: all ease .25s;
    width: 100%;
}

.cbp-rfgrid li a .project-info h5 {
    position: relative;
    display: inline-block;
    margin-bottom: 15px;
    font-weight: bold;
    text-transform: uppercase;
}

.cbp-rfgrid li a:hover .project-info {
    filter: alpha(opacity=100);
    opacity: 1;
}

.cbp-rfgrid li a:hover .project-details {
    filter: alpha(opacity=100);
    opacity: 1;
    top: 0;
}

.cbp-rfgrid li a:hover .button {
    filter: alpha(opacity=100);
    opacity: 1;
    bottom: -50px;
}

/* media queries:  change number of items per row */
@media screen and (max-width: 1190px) {
    .cbp-rfgrid li {
        width: 25%;
        /* Fallback */
        width: -webkit-calc(25%);
        width: calc(25%);
    }
}

@media screen and (max-width: 1024px) {
    .cbp-rfgrid li {
        width: 33.33333333333333%;
        /* Fallback */
        width: -webkit-calc(33.33333333%);
        width: calc(33.33333333%);
    }
}

@media screen and (max-width: 768px) {
    .cbp-rfgrid li {
        width: 50%;
        /* Fallback */
        width: -webkit-calc(50%);
        width: calc(50%);
    }
}

@media screen and (max-width: 480px) {
    .cbp-rfgrid li {
        width: 100%;
    }
}

@media screen and (max-width: 300px) {
    .cbp-rfgrid li {
        width: 100%;
    }
}

.python {
    width: 65% !important;
}

.java {
    width: 85% !important;
}

.c {
    width: 70% !important;
}

.c-sharp {
    width: 60% !important;
}

.html-css {
    width: 60% !important;
}
