/*
|----------------------------------------------------------------------------
| iPads (landscape)
|----------------------------------------------------------------------------
*/
@media only screen and (max-device-width: 1024px) {
    nav ul li a {
        padding: 0px 8px;
    }

    nav .button-collapse i {
        margin-top: 0px;
    }

    .btn {
        padding: 2px 10px;
    }

    #pricing-table .pricing .plan .thumbnail .btn {
        padding: 2px 10px;
    }

    #about .intro-content .btn {
        padding: 2px 10px;
        width: 140px;
    }

    .cd-timeline-content h2 {
        font-size: 18px;
        line-height: 28px;
    }

    .btn {
        box-shadow: inherit !important;
    }
}

/*
|----------------------------------------------------------------------------
| Smartphones (portrait)
|----------------------------------------------------------------------------
*/
@media only screen and (max-width: 400px) {

    #header-top .top-contact {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    #header-bottom {
        padding-bottom: 20px;
    }

    #contactForm .btn {
        width: 150px;
        text-align: center;
    }
}

/*
|----------------------------------------------------------------------------
| Tab Portrail
|----------------------------------------------------------------------------
*/
@media only screen and (max-device-width: 600px) {

    #about .intro-content p {
        padding: 0px;
    }

    .cd-timeline-content {
        margin-top: 20px;
    }

    .cd-timeline-content h2 {
        font-size: 18px;
        line-height: 28px;
    }

    .cd-timeline-img {
        display: none;
    }

    .cd-timeline-content::before {
        display: none;
    }

    .market-place ul li {
        padding: 20px;
    }

    .quates {
        margin-bottom: 60px;
    }

    input[type=text]:focus:not([readonly]),
    input[type=password]:focus:not([readonly]),
    input[type=email]:focus:not([readonly]),
    input[type=url]:focus:not([readonly]),
    input[type=time]:focus:not([readonly]),
    input[type=date]:focus:not([readonly]),
    input[type=datetime-local]:focus:not([readonly]),
    input[type=tel]:focus:not([readonly]),
    input[type=number]:focus:not([readonly]),
    input[type=search]:focus:not([readonly]),
    textarea.materialize-textarea:focus:not([readonly]) {
        box-shadow: inherit;
    }

    #contactForm .btn {
        width: 150px;
        text-align: center;
    }
}

/*
|----------------------------------------------------------------------------
| tab portrait and down
|----------------------------------------------------------------------------
*/
@media only screen and (max-width: 992px) {
    body {
        text-align: center;
    }

    .hobbies {
        margin-left: 30px !important;
    }

    nav ul li a:hover {
        color: inherit;
    }

}
